/* elements */
header{
  height: 50px;
  width: 100vw;
  margin-bottom: 40px;
  background-color: #000000;
  border-bottom: 2px solid #ffffff;
  text-align: center;
  color: #ffffff;
}

body{
  background-image: url("../images/prism.png");
  margin: 0;
}

footer{
  height: 50px;
  width: 100vw;
  position: fixed;
  bottom: 0;
  padding-top: 10px;
  background-color: #000000;
  border-top: 2px solid #ffffff;
  text-align: center;
  color: #ffffff;
}

/* classes */


.container{
  background-color: rgb(0, 0, 0, 0.50);
  height: 600px;
  width: 960px;
  border: 2px solid #ffffff;
  position: relative;
}

.question{
  margin-top: 25px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: rgba(94, 94, 94, 0.5);
  height: 150px;
  width: 100%;
  color: #ffffff;
  border-radius: 25px;
  border: 2px solid #ffffff;

}

.answers{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 5rem;
  width: 9rem;
  border: 2px solid #ffffff;

}

.answers:hover{
  background-color: #fff03f;
  color: #000000;
}

.correct-answer{
  background-color: #008000;
  color: #ffffff; 
}

.incorrect-answer{
  background-color: #ff0000;
  color: #ffffff;
}

.popup{
  width: 800px;
  height: 500px;
  background-color: #599b72;
  border: 2px solid #000000;
  z-index: 1;
  position: absolute;
  left: 80px;
  top: 50px;
  text-align: center;
  padding: 50px;
}

.hidden{
  display: none;
}

/* ids */
#timer-box{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  color: #ffffff;
  background-color: rgba(248, 227, 227, 0.25);
  border-radius: 25px;
  height: 50px;
  margin-top: 25px;
  padding-top: 5px;
  border: 1px solid #ffffff;

}

#restart{
  margin-top: 40px;
  height: 50px;
  width: 200px;
  border: 2px solid #000000;
}

/* media queries */

@media screen and (max-width: 768px){

  h4{
    font-size: 20px;
  }

  h5{
    font-size: 14px;
  }

  .container{
    width: 750px;
    height: 600px;
  }

  .question, .answers, #timer-box{
    width: 80vw;
    height: 10vh;
  }

  .question{
    height: 20vh;
  }

  .popup{
    width: 80vw;
    height: 60vh;
    background-color: #599b72;
    border: 2px solid #000000;
    z-index: 1;
    position: absolute;
    left: 6vw;
    top: 8vh;
    text-align: center;
    padding: 50px;
  }
  .answers:hover{
    background-color: none;
    color: none;
  }
}





@media screen and (max-width: 480px){
  footer{
    display: none;
  }

  .container{
    width: 90vw;
    height: 100vh;
    margin-left: 5vw;
    margin-bottom: 100px;
    padding-bottom: 40px;
    overflow: auto;

  }

  .question, .answers, #timer-box{
    width: 80vw;
    height: 6vh;
    margin-left: 5vw;
    font-size: 1rem;
  }

  .question{
    height: 30vh;
  }

  .popup{
    width: 80vw;
    height: 80vh;
    background-color: #599b72;
    border: 2px solid #000000;
    z-index: 1;
    position: absolute;
    left: 5vw;
    top: 10vh;
    text-align: center;
    padding: 50px;
  }
  .answers:hover{
    background-color: none;
    color: none;
  }
}