/* elements */
header{
  height: 50px;
  width: 100%;
}

body{
  background-image: url("../images/prism.png");
  margin: 0;
}

footer{
  height: 50px;
  width: 100%;
}

/* classes */


.container{
  background-color: bisque;
  height: 600px;
  width: 960px;
}

.question{
  margin-top: 25px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: cornflowerblue;
  height: 150px;
  width: 100%;
}

.answers{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 100px;
  width: 100%;
}

.answers:hover{
  background-color: #fff03f;
  color: #000000;
}

.correct-answer{
  background-color: #008000;
  color: #ffffff; 
}

.incorrect-answer{
  background-color: #ff0000;
  color: #ffffff;
}

.popup{
  width: 600px;
  height: 400px;
  background-color: #599b72;
  border: 2px solid #000000;
  z-index: 1;
  position: fixed;
  left: 25%;
  top: 25%;
  text-align: center;
  padding: 10px;
}

.popup[data-visible="false"]{
  display: none;
}

/* ids */
#timer-box{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  color: #ffffff;
  background-color: #000000;
  height: 50px;
  margin-top: 25px;
}

#restart{
  margin-top: 40px;
  height: 50px;
  width: 200px;
  border: 2px solid #000000;
}